#home-button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 15px !important;
    top: 22px;
    z-index: 2;
    border: 0px;
}

#home-link {
    text-decoration: none;
    border: 0px;
}

#viewerCanvas {
    width: 800px;
    height: 900px;
}

#viewerCanvas2 {
    width: 800px;
    height: 900px;
}

.title {
    font-size: 210%
}

.gBorder {
    border: 1px black solid;
    height: 780px;
    width: 800px
}

.letter {
    width: 600px;
    text-align: left;
}

.img-shadow {
    float: left;
    background: url(../img/shadowAlpha.png) no-repeat bottom right !important;
    background: url(../img/shadow.gif) no-repeat bottom right;
    margin: 24px 10px 3px 19px !important;
    margin: 24px 10px 3px 19px;
}

.img-shadow img {
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    margin: -6px 6px 6px -6px;
    padding: 0px;
}

#middle {
    width: 800px;
    margin: 0 auto;
}

img.floatRight {
    float: right;
    margin: 4px;
    margin-bottom: 25px;
    border: 1px black solid;
}

#gallery {
    background: black;
}

.gallerynav {
    margin: 4px;
    border: 0px;
}

.nav {
    font-size: 90%;
    text-decoration: none;
    font-family: arial, sans-serif;
    border: 0px;
}

.nav a {
    text-decoration: none;
    color: #000000;
}

.nav a:hover {
    color: #0000C0
}

.photoIndex {
    text-decoration: none;
    color: #000000;
    margin: 5px;
}

#jg-link {
    text-decoration: none;
    border: 0px;
}

#jg {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    border: 0px;
}

#header img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.sow {
    width: 267px;
    margin: 0 auto;
}

.borderless {
    border:0px
}

.letter-link {
    position:absolute;
    bottom:25px;
    right: 25px;
    font-weight: bold;
}